/**
 * Colors
 **/

* {
    background:     #0D1316;
    background-alt: #282B31FF;
    foreground:     #faf7ff;
    selected:       #e60000;
    active:         #B9C244;
    urgent:         #E06C75FF;
}
