/**
 * Colors
 **/

* {
    background:     #091e2c;
    background-alt: #5d94adff;
    foreground:     #faf7ff;
    selected:       #faf7ff;
    active:         #B9C244;
    urgent:         #E06C75FF;
}
