* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Symbols Nerd Font', 'JetBrainsMono', 'JetBrains Mono', 'FontAwesome', 'feather', 'Iosevka Nerd Font', 'FiraCode';
    font-size: 14px;
    padding: 0 0px;
}

button,
button:hover {
	border-radius: 0px;
	border: none;
}

#clock,
#cpu,
#memory,
#disk,
#temperature,
#temperature.cpu,
#temperature.gpu,
#backlight,
#pulseaudio,
#tray,
#mode,
#scratchpad,
#window,
#workspaces {
    margin: 0 4px;
}

/*---------------------- WORKSPACES MODULE ----------------*/

#workspaces button {
	color: #A3A2A2;
    padding: 0 4px;
   	box-shadow: inset 0 -2px #747475;
}

#workspaces button.empty {
    color: #545454;
	background: rgba(0, 0, 0, 1);
	box-shadow: none;
}

#workspaces button:hover {
	color: #ffffff;
    background: #343845;
    
}

#workspaces button.focused,
#workspaces button.visible:not(.focused) {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
	color: #ffffff;
}

/*--------------- END OF WORKSPACES MODULE ----------------*/



window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}


/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#custom-notification {
}

#clock {
    background-color: inherit;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: inherit;
}

#memory {
    background-color: inherit;
}


#pulseaudio {
    background-color: inherit;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #FF0000;
    color: #ffffff;
}

#tray {
    background-color: inherit;
}

#language {
    background: inherit;
    color: #ffffff;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}


#custom-traydrawer-wrap {
}

#custom-sysmon-wrap {
}
