* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Symbols Nerd Font', 'JetBrainsMono', 'JetBrains Mono', 'FontAwesome', 'feather', 'Iosevka Nerd Font', 'FiraCode';
    font-size: 14px;
}

button,
button:hover {
	border-radius: 0px;
	border: none;
}
